= form_for @task, remote: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', minimum:  5, maximum: 20, placeholder: "Task name" 
    = f.hidden_field :done, value: '0'
  .form-group
    = f.submit 'Add Task', class: 'btn btn-primary'          